<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ name }}</title>

    <style>
        body {
            font-family: sans-serif;
            margin: 0;
            padding: 10px 20px;
        }

        h1 {
            text-align: center;
            text-transform: capitalize;
        }

        .d-flex {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .preview {
            width: 100px;
            display: flex;
            flex-direction: column;
            margin: 10px;
            border-radius: 3px;
            box-shadow: 0 0 1px 1px rgba(0,0,0,0.8);
        }

        a,
        .preview:hover .inner,
        .preview:hover .label {
            color: #0d6efd;
        }

        a:hover {
            text-decoration: none;
        }

        .preview .inner {
            width: 100%;
            text-align: center;
            border-radius: 3px 3px 0 0;
            cursor: pointer;
            line-height: 85px;
            color: #000;
        }

        .label {
            width: 100%;
            box-sizing: border-box;
            padding: 5px;
            font-size: 0.7rem;
            font-family: Monaco, monospace;
            color: #000;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            background: #ddd;
            text-align: center;
            border-radius: 0 0 3px 3px;
            cursor: pointer;
        }

        code {
            background: #ddd;
            border-radius: 3px;
            padding: 5px;
            margin-left: 10px;
        }

        footer {
            text-align: center;
            font-size: 0.8rem;
            margin: 5px;
        }
    </style>

    <script>
        document.addEventListener('click', function (event) {
            if (!event.target.matches('.inner,.inner i,.label')) return;
            event.preventDefault();
            const icon = event.target.closest('.preview').getAttribute('data-key');
            navigator.clipboard.writeText(icon).then(function () {
                alert('Icon\'s data copied!');
            });
        }, false);
    </script>

    <link rel="stylesheet" type="text/css" href="{{ name }}.css" />
    <link rel="icon" href="favicon.ico" />
</head>
<body>

    <h1>{{ name }}</h1>

    <h2>Icons</h2>
    <div class="d-flex">
    {{# each assets }}

        <div class="preview" data-key="{{ ../prefix }} {{ ../prefix }}-{{ @key }}">
            <span class="inner" title="{{ @key }}">
                <{{ ../tag }} class="{{ ../prefix }} {{ ../prefix }}-{{ @key }} {{ ../prefix }}-2x"></{{ ../tag }}>
            </span>
            <br>
            <span class="label" title="{{ @key }}">{{ @key }}</span>
        </div>

    {{/ each }}
    </div>
    <h2>Sizing</h2>
    <div class="d-size">
        <h3>1x</h3>
        <p>
            <{{ tag }} class="{{ prefix }} {{ prefix }}-mushroom {{ prefix }}-spin"></{{ tag }}>
        </p>
        <h3>2x</h3>
        <p>
            <{{ tag }} class="{{ prefix }} {{ prefix }}-mushroom {{ prefix }}-spin {{ prefix }}-2x"></{{ tag }}> <code>Add class "{{ prefix }}-2x"</code>
        </p>
        <h3>3x</h3>
        <p>
            <{{ tag }} class="{{ prefix }} {{ prefix }}-mushroom {{ prefix }}-spin {{ prefix }}-3x"></{{ tag }}> <code>Add class "{{ prefix }}-3x"</code>
        </p>
        <h3>4x</h3>
        <p>
            <{{ tag }} class="{{ prefix }} {{ prefix }}-mushroom {{ prefix }}-spin {{ prefix }}-4x"></{{ tag }}> <code>Add class "{{ prefix }}-4x"</code>
        </p>
        <h3>5x</h3>
        <p>
            <{{ tag }} class="{{ prefix }} {{ prefix }}-mushroom {{ prefix }}-spin {{ prefix }}-5x"></{{ tag }}> <code>Add class "{{ prefix }}-5x"</code>
        </p>
    </div>

    <footer>
        Pixa v1.1.0 - <a href="https://github.com/Silbad/pixa" target="_blank">GitHub</a> - <a href="https://silbad.com" target="_blank">Author</a>
    </footer>

</body>
</html>